@charset "UTF-8";
/*! Leon Spanic copyright 2016   */
/* SASS-based project */
/* Helvetica will be used, if not possible then sans-serif */
/* Whitesmoke */
body {
  margin: auto;
  background-color: whitesmoke;
  font: 100% Helvetica, sans-serif;
  /* While using the percent unit, 
	your text remains fully scalable for mobile devices and for accessibility. */ }

header {
  margin: 0 auto;
  height: 610px;
  background-image: url("../images/vfun94cuy4o-david-min0.jpg");
  background-repeat: no-repeat;
  background-position: 65% 72%; }
  header h1 {
    color: whitesmoke;
    text-align: center;
    padding-top: 200px; }

.container {
  margin: auto;
  max-width: 1200px;
  height: 470px; }

.right {
  float: right; }

#traka {
  margin: 0 auto;
  height: 90px;
  background-color: rgba(0, 0, 0, 0.6);
  /*  rgba(38,57,75,0.9) na ovaj nacin child ne inherita opacity */
  filter: alpha(opacity=5);
  /* for IE8 and earlier */ }

nav a {
  border: 2px solid #37536d;
  border-radius: 5px;
  color: #7396b7;
  display: none;
  padding: 10px 15px;
  text-decoration: none;
  font-size: 110%;
  -moz-user-select: none;
  /* mozilla */
  -webkit-user-select: none;
  /* opera, safari, chrome and edge */
  -ms-user-select: none;
  /* IE and edge */ }

nav ul {
  list-style-type: none;
  margin: 0 auto;
  /* bez widtha margin: 0 auto nece centrirat */
  max-width: 1100px;
  /* sa width nece biti reponzivno */
  padding-top: 20px;
  box-sizing: border-box;
  overflow: hidden; }

nav:after {
  clear: both;
  /* zasad nepotrebno */ }

nav li {
  display: inline;
  float: left;
  margin-bottom: 0;
  margin-right: 10px; }
  nav li a:link {
    display: block; }
  nav li a:visited {
    text-decoration: none; }
  nav li a:hover {
    transition: color 0.5s ease 0s, border-color 0.5s ease 0s;
    text-decoration: none;
    border: 2px solid #7396b7;
    color: whitesmoke; }
  nav li a:active {
    text-decoration: none; }
  nav li img#logo {
    position: relative;
    right: 10px;
    width: 65px;
    height: 55px; }
  nav li img#cart {
    position: relative;
    top: 10px; }
  nav li.icon-settings:before {
    position: relative;
    top: 9px;
    font-size: 25px;
    color: #7396b7;
    text-shadow: 1px 1px 1px gray; }

/* ::after is a pseudo element which allows you to insert content onto a page from CSS 
(without it needing to be in the HTML). While the end result is not actually in the DOM, 
it appears on the page as if it is.
IE 8 only supports the single-colon */
main h1 {
  text-align: center;
  color: #37536d;
  text-shadow: 2px 2px 5px #7396b7;
  font-size: 150%; }

main hr {
  color: #37536d; }

main table {
  border-collapse: collapse;
  width: 46%; }
  main table td, main table th {
    border: 1px solid #cecece;
    box-sizing: border-box;
    /* The width and height properties (and min/max) includes content, padding and border, but not the margin */
    padding: 8px;
    height: 38px; }
  main table tr:nth-child(even) {
    background-color: #f2f2f2; }
  main table tr:hover {
    background-color: #b7d8f7; }
  main table th {
    text-align: left;
    background-color: #7396b7;
    color: whitesmoke; }
    main table th#info {
      width: 35%; }
  main table#prva {
    float: left;
    margin-left: 15px; }
  main table#druga {
    float: right;
    margin-right: 15px; }

main section {
  position: relative; }
  main section#drugi {
    padding-top: 1px; }
  main section#drugi:after {
    content: "";
    background: url(../images/mountains-hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    background-position: 50% 22%;
    top: 0px;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0.05;
    height: 450px;
    position: absolute;
    z-index: -1;
    /* :after trick za background i opacity, tako da opacity ne zahvati content, nego samo sliku koju z_indexamo u pozadinu jos */
    /* Note: z-index only works on positioned elements (position:absolute, position:relative, or position:fixed). */
    /* bez & nece raditi, pripaziti kod ID-eva */ }

@media screen and (max-width: 600px) {
  nav {
    display: none; }
    nav li {
      float: none;
      padding-top: 0px;
      padding-bottom: 0px; }
    nav ul {
      margin: 0 auto;
      /* bez widtha margin: 0 auto nece centrirat */
      max-width: 200px; }
  article {
    width: 100%;
    float: left;
    margin-left: 1%; }
  article img {
    display: block;
    width: auto;
    margin: 0 auto; }
  main {
    width: 80%;
    margin: 0 auto; }
  iframe {
    width: 100%;
    border: 5px solid aqua; } }

/* carousel 
za navigaciju slikama, tockice i slideshow lijevo desno
*/
/*   Cool css efekt, bootstrap

 <div class="chip">
  <img src="img_avatar.png" alt="Person" width="96" height="96">
  Leon �pani�
 </div> 

.chip {
    display: inline-block;
    padding: 0 25px;
    height: 50px;
    font-size: 16px;
    line-height: 50px;
    border-radius: 25px;
    background-color: #f1f1f1;
}

.chip img {
    float: left;
    margin: 0 10px 0 -25px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
*/
