/*! Leon Spanic copyright 2016   */
/* SASS-based project */ 

$font-stack: Helvetica, sans-serif;  /* Helvetica will be used, if not possible then sans-serif */
$main-color: rgb(245,245,245); /* Whitesmoke */
$main-color3: #FFF5EE;
$dblue: #37536d;
$lblue: #7396b7;
$llblue: #b7d8f7;
$lgray: #cecece;
$llgray: #f2f2f2;

/* Note: z-index only works on positioned elements (position:absolute, position:relative, or position:fixed). */

body {
	margin: auto;
	background-color: $main-color;	
	font: 100% $font-stack; 
	/* While using the percent unit, 
	your text remains fully scalable for mobile devices and for accessibility. */
}

header {
	margin: 0 auto;
	height: 610px; /* for development */
	background-image:url("images/vfun94cuy4o-david-min0.jpg");
	background-repeat: no-repeat;
    background-position: 65% 72%;  
	h1 {
		color: $main-color;
		text-align: center;
		padding-top: 200px;
		
	}
}


.container {
	margin: auto;
    max-width: 1200px;
	height: 600px; /* for development */
}

#traka {
	margin: 0 auto;
	height: 90px;
	background-color: rgba(0,0,0,0.6); /*  rgba(38,57,75,0.9) na ovaj nacin child ne inherita opacity */
	filter: alpha(opacity=5); /* for IE8 and earlier */ 
}

nav { 
	a {
		border: 2px solid $dblue;
		border-radius: 5px;
		color: $lblue;
		display: none;
		padding: 10px 15px;
		text-decoration: none;
		font-size: 110%;
		-moz-user-select: none;  	/* mozilla */
		-webkit-user-select: none;  /* opera, safari, chrome and edge */
		-ms-user-select: none;   	/* IE and edge */
	}
	
	ul {
		list-style-type: none;
		margin: 0 auto;  /* bez widtha margin: 0 auto nece centrirat */
		max-width: 1100px; /* sa width nece biti reponzivno */
		padding-top: 20px;
		overflow: hidden;
		}
	li {
		display: inline;
		float: left;
		margin-bottom: 0;
		margin-right: 10px;

		a:link {
			display: block;
			}
		a:visited {
			text-decoration: none;
			}
		a:hover {
			transition: color 0.5s ease 0s, border-color 0.5s ease 0s;	
			text-decoration: none;
			border: 2px solid #7396b7;
			color: $main-color;
			}
		a:active {
			text-decoration: none;
			}
		img#logo {
			position: relative;
			right: 10px;
			width: 65px;
			height: 55px;
			}
		img#cart{
			position: relative;
			top: 10px;
			}
		&.icon-settings:before {
			position: relative;
			top: 9px;
			font-size: 25px;
			color: $lblue;
			text-shadow: 1px 1px 1px gray;
			}
		}
}

/* ::after is a pseudo element which allows you to insert content onto a page from CSS 
(without it needing to be in the HTML). While the end result is not actually in the DOM, 
it appears on the page as if it is.
IE 8 only supports the single-colon */
nav ul:after {
    clear: both;
}

.right {
	float: right;
	
}

main {
	h1 {
		text-align: center;
		color: $dblue;
		text-shadow: 2px 2px 5px $lblue;
		font-size: 150%;
	}
	hr {
		color: $dblue;
	}
	table {
		border-collapse: collapse;
		width: 50%;
		td, th {
			border: 1px solid $lgray;
			padding: 8px;
		}
		tr:nth-child(even){
			background-color: $llgray;
		}
		& tr:hover {
			background-color: $llblue;
		}
		th {
			text-align: left;
			background-color: $lblue;
			color: $main-color;
		}
	}
	section {
		position: relative;
		#prvi {
			background-image:url("images/mountains-hero-min.jpg");
			background-repeat: no-repeat;
			background-size: cover;
			background-position: 50% 22%; 
			opacity: 0.9;
			margin: 0 auto;
		}
		#drugi {
			/* ne trza ovako */
			
		}
	}
}

section#drugi:after {
		content: "";
		background: url(images/mountains-hero.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: 50% 22%; 
		top: 0px;
		left: 0;
		bottom: 0;
		right: 0;
		opacity: 0.05;
		height: 600px;
		position: absolute;
		z-index: -1;   
		}

section#drugi {
	padding-top: 1px; 

}

@media screen and (max-width: 600px) {
nav{
	display: none;
	li {
		float: none;
		padding-top: 0px;
		padding-bottom: 0px;
	}
	ul {
		margin: 0 auto;  /* bez widtha margin: 0 auto nece centrirat */
		max-width: 200px;
	}
}

section{
	width:100%;
	margin-top: 5%;
}

article{
	width:100%;
	float:left;
	margin-left: 1%;
}

article img{
	display:block;
	width:auto;
	margin:0 auto;
}

main{
	width:80%;
	margin:0 auto;
}

iframe{
	width:100%;
	border:5px solid aqua;
}
	
} // kraj media screena



/* carousel 
za navigaciju slikama, tockice i slideshow lijevo desno
*/



/*   Cool css efekt, bootstrap

 <div class="chip">
  <img src="img_avatar.png" alt="Person" width="96" height="96">
  Leon Španiæ
 </div> 

.chip {
    display: inline-block;
    padding: 0 25px;
    height: 50px;
    font-size: 16px;
    line-height: 50px;
    border-radius: 25px;
    background-color: #f1f1f1;
}

.chip img {
    float: left;
    margin: 0 10px 0 -25px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
*/

